<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mutebot Control Panel</title>
    <script src="/htmx-1.9.6.min.js"></script>
    <script src="/htmx-ext-ws-1.9.6.js"></script>
  </head>
  <body hx-ext="ws">
    <div id="content">
      <form hx-post="https://<%= process.env.API_DOMAIN %>/console/session" hx-swap="outerHTML" hx-trigger="submit throttle:30s" hx-target="#content">
        <input type="submit" name="authorize" value="Login"/>
      </form>
    </div>
    <script>
      (function () {
        let authToken = undefined;
        document.body.addEventListener('mutebot:auth-token-issued', (e) => {
          authToken = e.detail.value;
        })
        const addAuthToken = (e) => {
          if (authToken != null) {
            e.detail.headers['Authorization'] = `Bearer ${authToken}`;
          }
        };
        document.body.addEventListener('htmx:configRequest', addAuthToken);
        document.body.addEventListener('htmx:wsConfigSend', addAuthToken);
        setInterval(() => document.body.dispatchEvent(new Event('mutebot:ping')), 10000)
      })();
    </script>
  </body>
</html>