<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mutebot Control Panel</title>
    <script src="/htmx-1.9.6.min.js"></script>
    <script src="/htmx-ext-ws-1.9.6.js"></script>
  </head>
  <body>
    <div hx-ext="ws" ws-connect="wss://<%= process.env.WEBSOCKET_DOMAIN %>">
      <div id="content">
        <form id="form" ws-send hx-trigger="submit throttle:30s">
            <input type="submit" name="authorize" value="Login"/>
        </form>
      </div>
      <div>
        <form id="ping-form" ws-send hx-trigger="ws-keep-alive">
          <input type="hidden" name="ping" value="true"/>
        </form>
      </div>
    </div>
    <script>
      setInterval(() => document.getElementById('ping-form').dispatchEvent(new Event('ws-keep-alive')), 120000)
    </script>
  </body>
</html>